<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete</title>
</head>
<body>
    <table>
        <tr>
            <td>Employee_id</td>
            <td>{{result.employee_id }}</td>
        </tr>
        <tr>
            <td>Name</td>
            <td>{{result.name }}</td> 
        </tr>
        <tr>
            <td>Email</td>
            <td>{{result.email}}</td>
        </tr>
        <tr>
            <td>Mobile</td>
            <td>{{result.mobile}}</td>
        </tr>
        <tr>
            <td>City</td>
            <td>{{result.city}}</td>
        </tr>
        <tr>
            <td>DOB</td>
            <td>{{result.dob}}</td>
        </tr>
        <tr>
            <td>Profession</td>
            <td>{{result.profession}}</td>
        </tr>
        <tr>
            <td>Salary</td>
            <td>{{result.salary}}</td>
        </tr>
        <tr>
            <td>Shift</td>
            <td>{{result.shift}}</td>
        </tr>
        <tr>
            <td>Age</td>
            <td>{{result.age}}</td>
        </tr>
    </table>
</body>
</html>